<div class="container">
  <div class="row clearfix">
    <div class="col-md-3 col-md-offset-4 column">
	    <form (submit)="onLoginSubmit()">
	       <h4 class="page-header">Let's Hunt Netwitness</h4>
		    <div class="form-group">
		        <label>User/Team-Lead ID</label>
		        <input type="text" class="form-control" [(ngModel)]="username" name="username">
		    </div>
	        <input type="submit" class="btn btn-primary" value="Let's Go">
	    </form>
   </div>
  </div>
</div>

